{% extends 'base.html.twig' %}

{% block title %}Demo Controller!{% endblock %}

{% set technos = [
  "Symfony",
  "Vite.js",
  "Tailwind CSS"
] %}

{% block body %}
<main class="flex flex-column items-center justify-center min-h-screen bg-gradient-to-br from-indigo-900 to-blue-300">
    <div class="border-2 border-white/10 rounded-xl p-4 bg-white/50 shadow-lg  backdrop-blur-sm">
        <svg class="w-56 h-56 m-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 247 247"><path fill="#000" d="M246.528 123.256c0 68.083-55.187 123.274-123.267 123.274C55.185 246.53 0 191.339 0 123.256 0 55.185 55.183 0 123.261 0c68.08 0 123.267 55.185 123.267 123.256Z"/><path fill="#fff" d="M100.756 49.282c-7.853.269-14.708 4.604-19.812 10.586-5.652 6.568-9.406 14.351-12.118 22.303-4.844-3.973-8.578-9.113-16.353-11.349-6.01-1.727-12.318-1.015-18.121 3.307-2.746 2.053-4.641 5.153-5.542 8.077-2.332 7.578 2.451 14.33 4.624 16.749l4.751 5.088c.977.999 3.339 3.601 2.183 7.332-1.24 4.062-6.135 6.685-11.154 5.142-2.242-.687-5.462-2.357-4.74-4.704.296-.964.985-1.689 1.356-2.51.337-.718.5-1.25.604-1.572.917-2.989-.338-6.884-3.543-7.875-2.992-.918-6.052-.19-7.24 3.66-1.346 4.375.75 12.316 11.967 15.771 13.143 4.045 24.256-3.114 25.835-12.442.993-5.843-1.648-10.19-6.48-15.77l-3.941-4.36c-2.385-2.384-3.204-6.448-.735-9.57 2.084-2.635 5.05-3.757 9.912-2.437 7.1 1.925 10.26 6.85 15.537 10.822-2.176 7.15-3.602 14.325-4.89 20.758l-.791 4.798c-3.771 19.784-6.652 30.65-14.137 36.887-1.508 1.074-3.664 2.678-6.912 2.794-1.706.051-2.256-1.122-2.28-1.635-.037-1.192.97-1.742 1.638-2.277 1.002-.546 2.514-1.451 2.41-4.35-.108-3.424-2.946-6.395-7.046-6.259-3.072.103-7.753 2.992-7.577 8.285.18 5.468 5.275 9.564 12.959 9.305 4.106-.141 13.278-1.809 22.314-12.551 10.519-12.316 13.462-26.431 15.675-36.764l2.472-13.642c1.367.164 2.838.275 4.434.314 13.1.277 19.651-6.506 19.75-11.444.068-2.987-1.957-5.93-4.795-5.86-2.028.057-4.577 1.41-5.186 4.214-.6 2.75 4.167 5.236.441 7.655-2.646 1.712-7.39 2.917-14.072 1.94l1.214-6.716c2.48-12.734 5.539-28.396 17.142-28.78.848-.04 3.939.037 4.012 2.085.019.68-.151.859-.95 2.422-.816 1.218-1.122 2.26-1.082 3.451.11 3.248 2.582 5.387 6.163 5.263 4.787-.16 6.16-4.819 6.081-7.213-.201-5.631-6.132-9.187-13.977-8.928Z"/><path fill="#38BDF8" fill-rule="evenodd" d="M123.264 160c-13.733 0-22.317 6.764-25.75 20.291 5.15-6.764 11.158-9.3 18.025-7.609 3.918.964 6.718 3.765 9.817 6.863 5.049 5.048 10.894 10.891 23.658 10.891 13.733 0 22.317-6.763 25.75-20.291-5.15 6.764-11.158 9.3-18.025 7.61-3.918-.964-6.718-3.766-9.817-6.864-5.049-5.048-10.894-10.891-23.658-10.891Zm-25.75 30.436c-13.733 0-22.317 6.764-25.75 20.291 5.15-6.763 11.158-9.3 18.025-7.609 3.918.966 6.718 3.765 9.817 6.863 5.049 5.049 10.894 10.892 23.658 10.892 13.733 0 22.317-6.764 25.75-20.291-5.15 6.763-11.158 9.3-18.025 7.609-3.918-.964-6.718-3.765-9.817-6.863-5.049-5.049-10.894-10.892-23.658-10.892Z" clip-rule="evenodd"/><path fill="url(#a)" d="m222.687 67.728-45.775 82.256c-.945 1.698-3.373 1.708-4.333.018l-46.682-82.266c-1.046-1.841.522-4.072 2.598-3.699l45.824 8.23c.293.053.592.053.884 0l44.866-8.218c2.07-.38 3.645 1.834 2.618 3.68Z"/><path fill="url(#b)" d="m196.148 53.24-33.875 6.671c-.557.11-.969.584-1.003 1.153l-2.083 35.366a1.246 1.246 0 0 0 1.521 1.292l9.431-2.187a1.247 1.247 0 0 1 1.499 1.468l-2.802 13.788c-.189.928.678 1.722 1.58 1.446l5.825-1.778c.903-.276 1.771.52 1.58 1.449l-4.453 21.658c-.279 1.355 1.514 2.094 2.262.932l.5-.776 27.603-55.357c.462-.926-.335-1.983-1.348-1.787l-9.708 1.883c-.912.177-1.688-.677-1.431-1.574l6.336-22.073c.258-.898-.521-1.753-1.434-1.573Z"/><path fill="#fff" d="M120.309 140.187v-30h5.091v30h-5.091Zm-12.454-12.455v-5.091h30v5.091h-30Z"/><defs><linearGradient id="a" x1="124.757" x2="182.089" y1="61.097" y2="138.58" gradientUnits="userSpaceOnUse"><stop stop-color="#41D1FF"/><stop offset="1" stop-color="#BD34FE"/></linearGradient><linearGradient id="b" x1="171.689" x2="182.094" y1="55.052" y2="126.08" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEA83"/><stop offset=".083" stop-color="#FFDD35"/><stop offset="1" stop-color="#FFA800"/></linearGradient></defs></svg>
        
        <ul class="flex gap-2 text-xl font-bold mt-8">
            {% for item in technos %}
                <li>{{ item }}&nbsp;</li>
                {% if not loop.last %}+{% endif %}
            {% endfor %}
        </ul>

        <p class="text-center text-sm mt-4">If the css are not displayed correctly, run, <code class="bg-white/50 px-1.5 rounded">npm run dev</code><br>
        or <code class="bg-white/50 px-1.5 rounded">yarn dev</code> or use your favorite manager.</p>
    </div>
</main>
{% endblock %}
